:root {
  color-scheme: dark;
  --bg: #2b2b2b;
  --accent-bg: white;
  --text: white;
  --text-light: #ababab;
  --accent: lightgreen;
  --accent-hover: lightgreen;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}

main, header{
font-family: Inter, sans-serif;
font-size: 19px;
}


p {color: white; }

h1, h2, h3, h4 {
    color: lightgreen;
    font-size: 40px;
    border-bottom: solid;
}

header > h1 {border-bottom: none;}
