:root {
  color-scheme: dark;
  --bg: black;
  --accent-bg: black;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: white;
  --accent-hover: #f06292;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}


body {

  background-color: black; 
  color: white;
}

/* body { background-color: black; } */

header {
    height: 165px;  /* Adjust to desired height */
    line-height: 50px;
    padding: 0 10px;
}

p { font-size: 1.2rem;}

body {
    margin: 0;
    overflow: hidden;
}


h1, h2, h3, h4 {
    font-size: 2.0rem;
    border-bottom: solid;
}

header > h1 {border-bottom: none;}

