:root {
  color-scheme: dark;
  --bg: black;
  --accent-bg: black;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: rgb(100, 250,100);
  --accent-hover: yellow;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}


body {

  background-color: black; 
  color: white;
}

/* body { background-color: black; } */

header {
    height: 165px;
    line-height: 50px;
    padding: 0 10px;
}

p { font-size: 1.2rem;}


body {
    margin: 0;
    overflow: hidden;
}

nav { text-align: center; }

h1 {
    font-size: 2.0rem;
    text-align: center;
    border-bottom: none;    
}

h2 {
 font-size: 1.8rem;
 border-bottom: solid;
 }


h3 {
 font-size: 1.7rem;
 border-bottom: solid;
 }


header > h1 {border-bottom: none;}

